<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <title>Steam API</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <center>
        <main>
            <section>
                <header>
                    <h1>Steam User Information</h1>
                </header>
                <form method="get" action="/user/">
                    <label for="userId">Enter UserId:</label>
                    <input type="text" name="userId" id="userId" value="76561198061832795">
                    <button>Search</button>
                </form>
            </section>
        </main>
    </center>
</body>

</html>